Diagnostics:
  Suppress:
    - "-Wmicrosoft-enum-forward-reference"
    - "-Wc++11-narrowing"
    - "-Wc++2b-extensions"
    - "-Wmicrosoft-cast"
CompileFlags:
  Add:
    - "-ferror-limit=0"
    - '-D__FUNCTION__="dummy"'
    - "-Dnsel_CONFIG_SELECT_EXPECTED=nsel_EXPECTED_NONSTD"
    - "/std:c++20"
    - "-D_HAS_CXX23=1"